#polo,#jersey{
    margin-top: 3vh;
    position: relative;
    

    .modal{
        position: fixed;
        top: 0;
        left: 0;
        padding: 0vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
        height: 100vh;
        backdrop-filter: blur(5px);
        color: rgb(255, 255, 255);
        .btn{
            position: absolute;
            height: 100vh;
            width: 10vw;
            top: 0%;
            font-size: 10vh;
            text-align: center;
            display: grid;
            justify-content: center;
            align-items: center;
            z-index: 5;
            &:hover{
                cursor: pointer;
            }
        }
        .prevBtn{
            left: 15%;
        }
        .nextBtn{
            right: 15%;
        }
        .closeBtn{
            position: fixed;
            top: 2%;
            right: 5%;
            font-size: 10vh;
            cursor: pointer;
        }
        .wrapper{
            height: 100vh;
            width: 100vw;
            z-index: 1;
            position: absolute;
        }
        img{
            height: 95%;
            margin-top: 1%;
            z-index: -1;

        }
    }

    .filter_title{
        height: 8vh;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 1.6rem;
        display: grid;
        justify-content: center;
        align-content: center;
        position: sticky;
        
    }
       .cards{
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 5vh 0;
        grid-template-columns: repeat(4,1fr);
        gap: 5vh;
        .card{
            backdrop-filter: blur(5px);
            aspect-ratio: 1/1;
            width: 18vw;
            display: grid;
            justify-self: center;
            align-items: center;
            border-radius: 10px;
            // overflow: hidden;
            padding: 1vw;
            box-shadow: 3px 3px 3px black;
            .wrapper{
                height: 100%;
                width: 100%;
                z-index: 999;
                position: absolute;
                cursor: pointer;

            }
       
            img{
                margin: auto;
                padding: 1vh;
                height: 17vw;
            }
        }
    }
}