#carousel{
    margin-top: 0vh;
    height: 80vh;
    width: 90vw;
    margin: auto;
    .slides{
        height: inherit;
        .slide{
        height:inherit;
        display: grid;
        align-items: center;
        justify-items: center;
        position: relative;
        .wrapper{
                height: 100%;
                width: 100%;
                z-index: 99;
        }
            img{
                width: 90vw;
                position: absolute;
                transition: .5s;
                z-index: 95;
            }
        }
    }
}


