#nav{
    height: 6vh;
    position: sticky;
    top: 0;
    background-color: rgb(222, 222, 222);
    border-bottom: 2px solid black;
    z-index: 999;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;

    .logo{
        display: flex;
        padding-left: 5vw;
        img{
            height: 5vh;
            &:hover{
                cursor: pointer;
            }
        }
    }
    div{
    }

    span{
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 2rem;
        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: rgb(126, 0, 120);
                transition: .2s;
            }
        }

        &:hover{
            color: gray;
            cursor: pointer;
        }
    }
}