*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(222, 222, 222);
    width: 100vw;
    overflow-x: hidden;
}
#background{
    display: grid;
    padding-top: 0;
}